quote {
	text-align: center;
	position: relative;
	z-index: 1;
	color: var(--colour-text-primary);
	display: block;
}

quote::after,
quote::before {
	z-index: -1;
	display: flex;
	height: 100px;
	font-size: 8rem;
	background: var(--colour-background-secondary);
	padding: 0 var(--padding);

	color: transparent;
	-webkit-text-stroke: var(--colour-text-secondary) 1px;
}

quote::after {
	margin-top: -30px;
	content: '”';
	justify-content: flex-end;
	align-items: center;

	border-radius: 0 0 50px 50px;
}

quote::before {
	margin-bottom: -30px;
	content: '“';
	justify-content: flex-start;
	align-items: flex-end;

	border-radius: 50px 50px 0 0;
}