component.svelte-ii6js6.svelte-ii6js6.svelte-ii6js6{display:grid;width:auto;height:100%;max-width:1300px;grid-template-areas:"sidebar main crap";grid-template-columns:min-content min-content min-content;grid-template-rows:1fr}.sidebar.svelte-ii6js6.svelte-ii6js6.svelte-ii6js6{grid-area:sidebar}.main.svelte-ii6js6.svelte-ii6js6.svelte-ii6js6{grid-area:main}.main.svelte-ii6js6>.header.svelte-ii6js6.svelte-ii6js6{position:sticky;height:3rem;display:flex;align-items:center;justify-content:flex-start;padding:8px calc(var(--padding) / 2);border:solid 1px var(--colour-background-secondary);border-top:0}.main.svelte-ii6js6>.header.svelte-ii6js6>heading.svelte-ii6js6{font-size:1.5rem}
heading.svelte-vbl456,string.svelte-vbl456{white-space:pre-line}
component.svelte-eptfi7.svelte-eptfi7.svelte-eptfi7{display:grid;width:100%;height:100%;grid-template-areas:"pp meta"
			"pp content"
			"_ actions";grid-template-columns:64px 1fr;grid-template-rows:repeat(3, auto);padding:calc(var(--padding) / 2);padding-bottom:calc(var(--padding) / 4);border:solid 1px var(--colour-background-secondary);border-top:0;box-sizing:border-box}.pp.svelte-eptfi7.svelte-eptfi7.svelte-eptfi7{grid-area:pp}.pp.svelte-eptfi7>.frame.svelte-eptfi7.svelte-eptfi7{display:flex;align-items:center;justify-content:center;background:var(--colour-background-secondary);height:48px;width:48px;border-radius:100%;overflow:hidden}.pp.svelte-eptfi7>.frame.svelte-eptfi7>heading.svelte-eptfi7{margin-left:-3px;margin-top:3px}.meta.svelte-eptfi7.svelte-eptfi7.svelte-eptfi7{grid-area:meta}.meta.svelte-eptfi7 a.svelte-eptfi7.svelte-eptfi7,.meta.svelte-eptfi7 a.svelte-eptfi7.svelte-eptfi7:link{color:var(--colour-text-primary)}.meta.svelte-eptfi7 a.svelte-eptfi7.svelte-eptfi7:hover{color:var(--colour-text-secondary)}.meta.svelte-eptfi7>string.svelte-eptfi7.svelte-eptfi7{margin:0;margin-top:4px}.content.svelte-eptfi7.svelte-eptfi7.svelte-eptfi7{grid-area:content}.content.svelte-eptfi7>string.svelte-eptfi7.svelte-eptfi7{margin:0}.actions.svelte-eptfi7.svelte-eptfi7.svelte-eptfi7{margin-left:-28px;grid-area:actions;display:grid;grid-template-areas:"reply retweet like report";grid-template-columns:repeat(4, 1fr);grid-template-rows:1fr;justify-items:flex-start;align-items:center}.actions.svelte-eptfi7>.reply:hover .svelte-eptfi7.svelte-eptfi7,.actions.svelte-eptfi7>.retweet:hover .svelte-eptfi7.svelte-eptfi7,.actions.svelte-eptfi7>.like:hover .svelte-eptfi7.svelte-eptfi7,.actions.svelte-eptfi7>.report:hover .svelte-eptfi7.svelte-eptfi7{color:var(--colour-fill-hover-primary)}.actions.svelte-eptfi7 string.svelte-eptfi7.svelte-eptfi7{margin:0}
heading.svelte-1uksazz.svelte-1uksazz{font-size:1.2rem;letter-spacing:-0.04em}heading.active.svelte-1uksazz.svelte-1uksazz{color:var(--colour-accent-primary)}container.button.svelte-1uksazz:hover .svelte-1uksazz{color:var(--colour-accent-primary)}container.logo.svelte-1uksazz.svelte-1uksazz{padding-left:calc(max(var(--border-radius), 24px) - 16px)}
container.gradient.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{position:fixed;top:0;left:0;height:100vh;width:100%;z-index:0}container.content.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{height:100%;width:100%;display:grid;grid-template-columns:repeat(2, 1fr);grid-template-rows:min-content 56px auto;grid-template-areas:"contact contact"
			"mid mid"
			"answer reject";align-items:center;justify-items:center;z-index:1}container.answer.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{height:100%;width:100%;display:flex;justify-content:center;align-items:center;grid-area:answer;justify-self:flex-start}container.reject.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{height:100%;width:100%;display:flex;justify-content:center;align-items:center;grid-area:reject;justify-self:flex-end}container.contact.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{grid-area:contact}container.mid.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{grid-area:mid}container.status.svelte-1x2bznw.svelte-1x2bznw.svelte-1x2bznw{width:100%;height:4rem;padding:1.5rem;box-sizing:border-box;z-index:1;display:flex;justify-content:flex-end;align-items:center}container.status.svelte-1x2bznw>.time.svelte-1x2bznw.svelte-1x2bznw{margin-right:auto}container.status.svelte-1x2bznw>.time.svelte-1x2bznw>string.svelte-1x2bznw{margin:0;margin-top:1px}
component.svelte-8idjyq{background:var(--colour-background);height:var(--height);width:var(--width);border-radius:var(--card-roundness);box-shadow:var(--box-shadow);transition:0.2s var(--ease-slow-slow)}component.svelte-8idjyq:hover{background:var(--colour-hover)}component.svelte-8idjyq:active{box-shadow:var(--active-box-shadow)}
component.svelte-e8jjb3{display:grid;align-items:center;justify-items:center}heading.svelte-e8jjb3{word-break:break-all;text-align:center}container.image.wrapper.svelte-e8jjb3{transform:matrix(1, 0, 0, 1, 0, 0)}container.image.border.svelte-e8jjb3{--border-width:2px;opacity:0.2;position:absolute;top:calc(var(--border-width) * -1);left:calc(var(--border-width) * -1);border-radius:100%;height:calc(200px + (var(--border-width) * 2));width:calc(200px + (var(--border-width) * 2));background:var(--colour-text-primary);transition:all 0.3s var(--ease-slow-slow)}container.text.wrapper.svelte-e8jjb3{display:grid;justify-items:center;align-items:center;max-width:200px}sstring.content.svelte-e8jjb3{text-align:center;opacity:0.7}
component.svelte-1ex4ujj{transform:matrix(1, 0, 0, 1, 0, 0)}.outer.svelte-1ex4ujj{border-radius:100%;height:var(--size);width:var(--size);position:absolute;top:0;left:0;background:var(--colour-background)}.outer.arrow.wrapper.svelte-1ex4ujj{transform:var(--arrow-transform);filter:var(--arrow-filter)}.outer.arrow.content.svelte-1ex4ujj{clip-path:polygon(100% 0, 0 0, 50% 50%);background:var(--colour-arrow);opacity:1}.outer.touch.svelte-1ex4ujj{transform:var(--outer-transform);filter:var(--outer-filter);opacity:0.5}.outer.blinker.svelte-1ex4ujj{opacity:0.2;animation:svelte-1ex4ujj-flash 1s var(--ease-slow-slow) infinite alternate-reverse both}.outer.blinker.paused.svelte-1ex4ujj{animation:svelte-1ex4ujj-nothing 1s var(--ease-slow-slow) infinite alternate-reverse both}@keyframes svelte-1ex4ujj-flash{0%{transform:scale(1);opacity:1}100%{transform:scale(3);opacity:0}}@keyframes svelte-1ex4ujj-nothing{0%{opacity:0}100%{opacity:0}}
icon.svelte-1v0uafi{filter:var(--filter-twotone);font-size:var(--icon-size)}iconf.svelte-1v0uafi{color:var(--colour-fill);font-size:var(--icon-size);transition:color 0.3s var(--ease-fast-slow)}container.svelte-1v0uafi{display:grid;grid-template-columns:var(--icon-width) auto;grid-template-rows:auto;justify-items:flex-start}
component.svelte-f67efg{display:flex;flex-direction:column;height:var(--height);width:var(--width)}
component.svelte-1qiv3k7{position:relative;height:var(--height);width:var(--width)}container.background.svelte-1qiv3k7{position:absolute;top:0;left:0;height:var(--height);width:var(--width);background:var(--colour-placeholder);opacity:1;visibility:visible;border-radius:var(--border-radius);transition:0.3s var(--ease-slow-slow);animation:svelte-1qiv3k7-flash 0.3s var(--ease-slow-slow) infinite alternate}img.svelte-1qiv3k7{position:absolute;top:0;left:0;height:var(--height);width:var(--width);opacity:1;object-fit:cover;border-radius:var(--border-radius);transition:0.3s var(--ease-slow-slow)}component.svelte-1qiv3k7::after{content:'';position:absolute;left:0;top:0;height:100%;width:100%;box-shadow:var(--shadow)}container.background.inactive.svelte-1qiv3k7{opacity:0;visibility:hidden}img.inactive.svelte-1qiv3k7{opacity:0}@keyframes svelte-1qiv3k7-flash{0%{opacity:0.5}100%{opacity:1}}
component.svelte-1xojph.svelte-1xojph{height:var(--height);width:var(--width);box-shadow:var(--shadow);transform:translateX(0px);border-radius:var(--border-radius);transition:0.2s var(--ease-slow-slow)}component.unpressed.svelte-1xojph.svelte-1xojph{box-shadow:var(--shadow-inactive)}button.svelte-1xojph.svelte-1xojph{height:56px;height:var(--height);width:var(--width);background:var(--colour-background);transform:matrix(1, 0, 0, 1, 0, 0);padding:var(--button-padding);border:0;outline:none;-webkit-tap-highlight-color:transparent;cursor:pointer;border-radius:var(--border-radius);box-shadow:var(--shadow-inactive);transition:var(--transition)}button.svelte-1xojph.svelte-1xojph:hover{background:var(--colour-hover)}button.svelte-1xojph.svelte-1xojph:active{box-shadow:var(--shadow)}button.svelte-1xojph .svelte-1xojph{color:var(--colour-text);mix-blend-mode:var(--mix-blend-mode)}.content.svelte-1xojph.svelte-1xojph{position:relative;height:100%;width:100%;display:flex;align-items:center;justify-content:var(--text-align);margin:0;padding:0}string.svelte-1xojph.svelte-1xojph{font-size:1rem;font-variation-settings:var(--font-variation-regular);margin:0;user-select:none}string.svelte-1xojph.svelte-1xojph:not(:empty){padding-left:8px}icon.svelte-1xojph:empty~string.svelte-1xojph{padding-left:0}svg.svelte-1xojph.svelte-1xojph{height:100%;width:100%;border-radius:var(--border-radius);pointer-events:none;position:absolute;top:0;left:0;z-index:0}icon.svelte-1xojph.svelte-1xojph{font-size:var(--icon-size);line-height:var(--icon-size)}container.background.svelte-1xojph.svelte-1xojph{height:100%;width:100%;position:absolute}
.content.none.svelte-s82p4j.svelte-s82p4j{opacity:0;height:0}.content.svelte-s82p4j.svelte-s82p4j{display:flex;align-items:center;overflow:hidden;opacity:1;height:calc(1rem + 2em)}.content.svelte-s82p4j .svelte-s82p4j{color:var(--colour-hint)}.content.svelte-s82p4j.svelte-s82p4j,.content.svelte-s82p4j .svelte-s82p4j{transition:0.2s var(--ease-slow-slow)
	}string.svelte-s82p4j.svelte-s82p4j{font-size:1rem;padding-left:8px}
component.svelte-1qky064.svelte-1qky064{position:relative;width:var(--width)}form.svelte-1qky064.svelte-1qky064{display:flex;transform:matrix(1, 0, 0, 1, 0, 0);background:var(--colour-background);box-shadow:var(--shadow-inactive);margin:0;border-radius:var(--border-radius);transition:0.2s var(--ease-slow-slow)}form.svelte-1qky064.svelte-1qky064:not(.inactive){background:var(--active-colour-background);box-shadow:var(--shadow);margin:var(--form-valued-margin-top) 0 0 0}form.valued.svelte-1qky064.svelte-1qky064{margin:var(--form-valued-margin-top) 0 0 0}input.text.svelte-1qky064.svelte-1qky064{width:100%;height:var(--height);padding:0;border:0;outline:0;background:transparent;font-family:var(--font-family);font-variation-settings:var(--font-variation-regular);padding:0 var(--min-indent);padding:0 var(--indent);font-size:var(--font-size);line-height:0.9em;letter-spacing:-0.08em;color:var(--colour-text);user-select:text}input.text.svelte-1qky064.svelte-1qky064::placeholder{color:transparent}label.svelte-1qky064.svelte-1qky064{position:absolute;display:block;font-size:var(--font-size);line-height:var(--font-size);text-indent:var(--min-indent);text-indent:var(--indent);cursor:text;top:calc((var(--height) - var(--font-size)) / 2);transition:top var(--label-transition-duration) var(--ease-slow-slow),
					opacity var(--label-transition-duration) var(--ease-slow-slow),
					text-indent var(--label-transition-duration) var(--ease-slow-slow)}label.svelte-1qky064>string.svelte-1qky064{font-family:var(--font-family);font-size:var(--label-font-size);color:var(--colour-label);display:inline}input.text.svelte-1qky064:focus~label.svelte-1qky064,input.text.svelte-1qky064:not(:placeholder-shown)~label.svelte-1qky064{top:var(--label-focused-top);opacity:var(--label-focused-opacity-no-placeholder);text-indent:var(--label-focused-indent);font-size:var(--label-font-size);color:var(--colour-accent-primary)}input.text.svelte-1qky064:focus:placeholder-shown~label.svelte-1qky064{opacity:var(--label-focused-opacity)}input.text.svelte-1qky064.svelte-1qky064:required,input.text.svelte-1qky064.svelte-1qky064:invalid{box-shadow:none}container.button.svelte-1qky064.svelte-1qky064{width:var(--button-width)}
component.svelte-19hd9uy.svelte-19hd9uy{display:grid;grid-template-columns:auto;grid-template-rows:auto;height:var(--height);width:var(--width);flex-grow:1;flex-shrink:0}container.content.svelte-19hd9uy.svelte-19hd9uy{display:grid;grid-template-columns:var(--columns);grid-template-rows:var(--rows);gap:var(--gap);justify-items:var(--justify);align-items:var(--align);width:100%;height:auto;background:var(--colour-background);border-radius:var(--border-radius);padding:var(--is-or-not-padding);box-sizing:border-box;overflow-x:visible;overflow-y:var(--overflow-y);transition:var(--transition-background-colour)}container.placeholder.svelte-19hd9uy.svelte-19hd9uy{width:100%;padding:var(--padding);box-sizing:border-box}container.placeholder.svelte-19hd9uy>string.svelte-19hd9uy{text-align:center}
component.svelte-ptnajd{display:grid;align-items:center;justify-items:center;visibility:visible;position:fixed;height:100%;width:100%;top:0;left:0;z-index:2;pointer-events:visible}component.inactive.svelte-ptnajd{pointer-events:none}container.content.svelte-ptnajd{height:min-content;width:min-content;display:grid;grid-template-rows:1fr min-content;transform:matrix(1, 0, 0, 1, 0, 0);min-width:240px;min-width:min(100%, 480px);min-height:240px;max-height:var(--max-height);z-index:2;border-radius:var(--border-radius);box-shadow:var(--shadow)}container.content.inactive.svelte-ptnajd{box-shadow:var(--shadow-inactive)}
component.svelte-bdgnxz{height:var(--height);width:var(--width);overflow:hidden}
component.svelte-i7al2h{position:fixed;right:0;bottom:0;margin:var(--padding);z-index:1000}container.svelte-i7al2h{background:var(--colour-toast);padding:4px 24px 4px 32px;display:flex;justify-content:center;align-items:center;gap:8px;border-radius:var(--roundness);width:max-content;max-width:25vw;max-width:min(400px, calc(61vw));margin-top:var(--padding)}
container.gradient.svelte-d23m9n.svelte-d23m9n{position:fixed;top:0;left:0;height:100vh;width:100%}container.content.svelte-d23m9n.svelte-d23m9n{height:auto;width:auto;display:grid;align-items:center;justify-items:flex-start;grid-template-columns:repeat(1, 1fr);grid-template-rows:repeat(2, min-content);gap:32px 0;grid-template-areas:"input input"
			"customize submit"}container.buttons.svelte-d23m9n.svelte-d23m9n{display:flex;gap:24px}@media only screen and (max-width: 400px){container.buttons.svelte-d23m9n.svelte-d23m9n{flex-direction:column}}.input.svelte-d23m9n.svelte-d23m9n{grid-area:input;display:flex;align-items:flex-end;height:56px;width:100%}.customize.svelte-d23m9n.svelte-d23m9n{grid-area:customize}.submit.svelte-d23m9n.svelte-d23m9n{grid-area:submit}.input.svelte-d23m9n>container.svelte-d23m9n{flex-grow:1}
component.svelte-1slyjdr{height:var(--height);width:var(--width);overflow:hidden}container.svelte-1slyjdr{opacity:1;transition:opacity 0.3s var(--ease-slow-slow)}container.override.svelte-1slyjdr *{fill:var(--colour-override);stroke:var(--colour-override)}container.unloaded.svelte-1slyjdr{opacity:0}
svg.svelte-e2u7o5.svelte-e2u7o5{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;border-radius:var(--roundness)}component.svelte-e2u7o5.svelte-e2u7o5{height:100%;display:grid;align-items:center;justify-items:center}container.button.svelte-e2u7o5.svelte-e2u7o5{position:relative;width:var(--button-size);z-index:0;transition:z-index 0s 0.5s}container.button.boosted.svelte-e2u7o5.svelte-e2u7o5{z-index:3;transition:unset}span.svelte-e2u7o5.svelte-e2u7o5{display:inline-block}container.wrapper.svelte-e2u7o5.svelte-e2u7o5{display:grid;align-items:center;justify-items:center;position:fixed;top:0;left:0;height:100vh;width:100vw;pointer-events:none}container.toppings.svelte-e2u7o5.svelte-e2u7o5{height:100%;width:auto;position:relative;display:grid;grid-template-rows:var(--grid-template-rows);align-items:center;justify-items:center;gap:32px;z-index:1;pointer-events:none}container.overlay.svelte-e2u7o5.svelte-e2u7o5{--duration:0.5s;position:fixed;height:100vh;width:100vw;background:var(--colour-background-primary);clip-path:inset(100% 100% 100% 100%)}container.overlay.y.top.svelte-e2u7o5.svelte-e2u7o5{top:0;left:0;clip-path:inset(0 0 100% 0);transition:clip-path var(--duration) var(--ease-fast-slow)}container.overlay.y.top.active.svelte-e2u7o5.svelte-e2u7o5{clip-path:inset(0 0 50% 0)}container.overlay.y.bottom.svelte-e2u7o5.svelte-e2u7o5{bottom:0;left:0;clip-path:inset(100% 0 0 0);transition:clip-path var(--duration) var(--ease-fast-slow)}container.overlay.y.bottom.active.svelte-e2u7o5.svelte-e2u7o5{clip-path:inset(50% 0 0 0)}container.overlay.x.left.svelte-e2u7o5.svelte-e2u7o5{top:0;left:0;clip-path:inset(0 100% 0 0);transition:clip-path 0.8s var(--ease-slow-slow)}container.overlay.x.left.active.svelte-e2u7o5.svelte-e2u7o5{clip-path:inset(0 50% 0 0)}container.overlay.x.right.svelte-e2u7o5.svelte-e2u7o5{top:0;right:0;clip-path:inset(0 0 0 100%);transition:clip-path 0.8s var(--ease-slow-slow)}container.overlay.x.right.active.svelte-e2u7o5.svelte-e2u7o5{clip-path:inset(0 0 0 50%)}container.topping.svelte-e2u7o5:hover string.svelte-e2u7o5{color:var(--colour-text-primary)}container.topping.svelte-e2u7o5 string.svelte-e2u7o5{white-space:nowrap;margin-left:32px;color:var(--colour-background-primary)}container.topping.svelte-e2u7o5.svelte-e2u7o5{position:relative;width:100%;overflow:hidden;opacity:0;width:fit-content;margin:0 32px;padding:4px 0;display:flex;transition:padding 0.5s var(--ease-fast-slow);-webkit-tap-highlight-color:transparent;pointer-events:visible}container.topping.svelte-e2u7o5.svelte-e2u7o5::before{content:'';position:absolute;top:0;bottom:0;width:100%;border-radius:var(--roundness);background:var(--colour-text-primary);left:0}container.topping.svelte-e2u7o5.svelte-e2u7o5::after{content:'';position:absolute;top:0;bottom:0;width:100%;border-radius:var(--roundness);border:10px solid var(--colour-text-primary);box-sizing:border-box;left:0;transition:border 0.3s var(--ease-slow-slow)}container.topping.svelte-e2u7o5.svelte-e2u7o5:hover,container.topping.svelte-e2u7o5.svelte-e2u7o5:hover::before{cursor:pointer;color:var(--colour-text-primary);background:var(--colour-background-primary);border-radius:var(--roundness);padding:48px 0px 64px 0px}container.topping.svelte-e2u7o5.svelte-e2u7o5:hover::after{border:0 solid var(--colour-text-primary)}
container.svelte-3pzsgw{height:var(--height);width:var(--width);fill:var(--svg-colour);overflow:hidden}
component.svelte-zvvqnv{height:auto;width:auto}
component.svelte-1jw2pdz{height:var(--height);width:var(--width);user-select:none;pointer-events:none}
container.slot.svelte-11ca1a6{display:flex;justify-content:center;align-items:center;height:100%;width:100%;position:absolute;overflow:hidden}container.app-bar.svelte-11ca1a6{padding:var(--app-bar-padding);position:fixed;top:0;width:100%;box-sizing:border-box;z-index:1;height:auto;display:grid;grid-template-columns:repeat(2, auto);grid-template-rows:auto;align-items:center;background:var(--colour-background);border-radius:var(--border-radius);transition:var(--transition-background-colour)}container.content.left.svelte-11ca1a6{justify-self:flex-start}container.content.right.svelte-11ca1a6{justify-self:flex-end}container.content.svelte-11ca1a6{padding:var(--content-padding)}container.logo.svelte-11ca1a6{padding:0.5rem 0}heading.svelte-11ca1a6{font-size:1.5rem;line-height:3rem}
container.svelte-1glthhx{height:100%;box-sizing:border-box}
heading.svelte-11we9ge{white-space:pre-line;font-size:var(--font-size-big)}
main.svelte-6h06oz{height:100%;background:var(--colour-background-primary)}
@charset 'utf-8';

/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v90/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v63/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */

@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v61/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format('woff2');
}

.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* latin-ext */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKjdSxYI9_3kvWNEmo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKjdSxYI9_3nPWN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKudSxYI9__J9CYI0v0FHU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKudSxYI9__J9CYLUv0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKudSxYI9__O9OYI0v0FHU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v2/6xKudSxYI9__O9OYLUv0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb54C-s0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb54C-s0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb54C-s0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb54C-s0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb54C-s0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v5/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Fp2ywxg089UriCZa4ET-DNl0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Fp2ywxg089UriCZa4Hz-D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Ap2ywxg089UriCZaw7ByWB3wTyCg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Ap2ywxg089UriCZaw7ByWCXwT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Ap2ywxg089UriCZawpBqWB3wTyCg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Ap2ywxg089UriCZawpBqWCXwT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZ2IHSeH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Cp2ywxg089UriAWCrCBimCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Cp2ywxg089UriASitCBamC2QX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Cp2ywxg089UriASitCBimCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

string {
	display: block;

	font-family: var(--font-family-2);
	font-weight: 400;
	font-variation-settings: var(--font-variation-regular);
	text-indent: 0;
	font-size: 1rem;
	line-height: 0.9em;
	letter-spacing: -0.02em;
	color: var(--colour-text-secondary);

	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	
	word-break: break-word;
}

heading {
	display: block;

	font-family: var(--font-family-1);
	font-weight: 700;
	font-variation-settings: var(--font-variation-bold);
	letter-spacing: -0.08em;
	text-indent: 0;
	font-size: 3rem;
	line-height: 1em;
	color: var(--colour-text-primary);

	/* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

container {
	display: block;
}

icon {
	display: inline;

	font-family: var(--font-family-ic-twotone);
	font-variation-settings: var(--font-variation-regular);
	text-indent: 0;
	font-size: 1rem;
	line-height: 1rem;
	color: black;
	filter: var(--filter-text-secondary);

	user-select: none;
}

placeholder {
	display: none;
}

component {
	display: block;
}

overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	opacity: 0.2;
	background: var(--colour-overlay);

	z-index: 1;
}

quote {
	text-align: center;
	position: relative;
	z-index: 1;
	color: var(--colour-background-primary);
	display: block;
}

quote::after,
quote::before {
	z-index: -1;
	display: flex;
	height: 100px;
	font-size: 8rem;
	background: var(--colour-text-primary);
	padding: 0 var(--padding);

	color: transparent;
	-webkit-text-stroke: var(--colour-text-secondary) 1px;
}

quote::after {
	margin-top: -1rem;
	content: '”';
	justify-content: flex-end;
	align-items: center;
}

quote::before {
	margin-bottom: -1rem;
	content: '“';
	justify-content: flex-start;
	align-items: flex-end;
}

a,
a:link {
	color: var(--colour-accent-primary);

	transition: opacity 0.3s var(--ease-fast-slow),
				color 0.3s var(--ease-slow-slow);
}

a:hover {
	color: var(--colour-accent-secondary);
}

a:visited {
	color: var(--colour-accent-secondary);
}

a:visited:hover {
	color: var(--colour-accent-primary);
}

a:active {
	opacity: 0;
}

sstring {
	display: block;

	font-family: var(--font-family-2);
	font-weight: 300;
	font-variation-settings: var(--font-variation-light);
	text-indent: 0;
	font-size: 0.8rem;
	line-height: 1.3em;
	letter-spacing: -0.02em;
	color: var(--colour-text-secondary);

	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	
	word-break: break-word;
}

iconf {
	display: inline;

	font-family: var(--font-family-ic-regular);
	font-variation-settings: var(--font-variation-regular);
	text-indent: 0;
	font-size: 1rem;
	line-height: 1rem;
	color: var(--colour-text-secondary);

	user-select: none;
}

icono {
	display: inline;

	font-family: var(--font-family-ic-outline);
	font-variation-settings: var(--font-variation-regular);
	text-indent: 0;
	font-size: 1rem;
	line-height: 1rem;
	color: var(--colour-text-secondary);

	user-select: none;
}

:root {
	--font-family-1: 'Sen', 'DM Sans', 'Space Grotesk', sans-serif;
	--font-family-2: 'Sen', 'DM Sans', 'Space Grotesk', sans-serif;
	--font-family-ic-regular: 'Material Icons';
	--font-family-ic-outline: 'Material Icons Outlined';
	--font-family-ic-twotone: 'Material Icons Two Tone';
	--font-variation-thin: 'wght' 100;
	--font-variation-light-extra: 'wght' 200;
	--font-variation-light: 'wght' 300;
	--font-variation-regular: 'wght' 400;
	--font-variation-medium: 'wght' 500;
	--font-variation-bold-semi: 'wght' 600;
	--font-variation-bold: 'wght' 700;
	--font-variation-bold-extra: 'wght' 800;
	--font-variation-black: 'wght' 900;
}

/* @font-face {
	font-family: Uniform;
	font-weight: 700;
	font-style: normal;
	src: url(../raw/fonts/Uniform-Bold.eot);
	src: url(../raw/fonts/Uniform-Bold.otf) format("otf");
	src: url(../raw/fonts/Uniform-Bold.ttf) format("ttf");
	src: url(../raw/fonts/Uniform-Bold.woff) format("woff");
} */

:root {
	--colour-accent-primary: #ff4f72;
	--colour-accent-secondary: #ff4f7233;
	--filter-accent-primary: brightness(0) saturate(100%) invert(60%) sepia(69%) saturate(6140%) hue-rotate(324deg) brightness(112%) contrast(101%);
	--colour-warn-primary: #ff9f43;
	--colour-warn-secondary: #feca57;
	--colour-error-primary: #ee5253;
	--colour-error-secondary: #ff6b6b;
	--colour-ok-primary: #2ed573;
	--colour-ok-secondary: #7bed9f;
	--colour-overlay: black;
}

:root.theme\:light {
	--colour-text-primary: #272829;
	--colour-text-secondary: #5a5c5e;
	--colour-background-primary: #ebf0f7;
	--colour-background-secondary: #e1e6ed;
	--filter-text-secondary: brightness(0) saturate(100%) invert(10%) sepia(1%) saturate(1910%) hue-rotate(169deg) brightness(101%) contrast(85%);
}

:root.theme\:dark {
	--colour-text-primary: #ebf0f7;
	--colour-text-secondary: #c9cfd6;
	--colour-background-primary: #0c0c0d;
	--colour-background-secondary: #161718;
	--filter-text-secondary: brightness(0) saturate(100%) invert(90%) sepia(5%) saturate(686%) hue-rotate(193deg) brightness(107%) contrast(94%);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: var(--colour-text-primary);
	border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--colour-text-secondary);
}

::-webkit-scrollbar-thumb:active {
	background: var(--colour-accent-primary);
}

::-webkit-scrollbar-track {
	background: var(--colour-background-primary);
	border-radius: var(--roundness);
}

body::-webkit-scrollbar-track {
	border-radius: 0;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

:root {
	--ease-fast-slow: cubic-bezier(0.075, 0.82, 0.165, 1);
	--ease-slow-slow: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-slow-fast: cubic-bezier(0.5, 0, 0.75, 0);

	/* @compat */
	--padding: calc(32px + 4%);
	--padding: min(12%, 140px);
	--roundness: 28px;

	--font-size-big: min(25vw, 16rem);

	--box-shadow-drop: 
		20px 20px 60px rgba(0, 0, 0, 0.5), 
		-20px -20px 60px rgba(255, 255, 255, 0.5);
	--box-shadow-drop-inactive:
		0 0 0 rgba(0, 0, 0, 0.5),
		0 0 0 rgba(255, 255, 255, 0.5);
	--box-shadow-inner:
		inset 5px 5px 15px rgba(0, 0, 0, 0.3), 
		inset -5px -5px 15px rgba(255, 255, 255, 0.3);
	--box-shadow-inner-inactive:
		inset 0 0 0 rgba(0, 0, 0, 0.3), 
		inset 0 0 0 rgba(255, 255, 255, 0.3);
}

body {
	height: 100vh;
	margin: 0;
}

* {
	user-select: none;
}

::selection {
	color: var(--colour-body-primary);
	background: var(--colour-accent-primary);
}